adjustText==0.8
catboost==1.2
dearpygui==1.10.1
dlisio==0.3.7
joblib==1.2.0
keras==2.13.1
keras_self_attention==0.51.0
lasio==0.30
lightgbm==4.1.0
matplotlib==3.7.1
numpy==1.24.3
openpyxl==3.0.10
pandas==1.5.3
PyQt6==6.6.1
PyQt6_sip==13.6.0
pyqtgraph==0.13.1
PySimpleGUI==4.60.5
PySimpleGUI==4.60.5
scikit_fuzzy==0.4.2
scikit_learn==1.2.2
scipy==1.11.4
tensorflow==2.13.0
tensorflow_intel==2.13.0
tensorflow_probability==0.21.0
tqdm==4.66.1
xgboost==1.7.5
